<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Jwan999/cart-task.git
git push -u origin main

git add .
git commit -m 'main'
git push

<div id="app">
    <input @keyup.enter="addToItems()" v-model="itemName" placeholder="item name" type="text">

<!--    <button>Submit</button>-->

    <h1 v-for="item in items">
        {{item}}
    </h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {

            itemName: '',
            items: []
        },
        methods: {
            addToItems() {
                this.items.push(this.itemName)
            }
        }
    })
</script>
</body>
</html>